* {
  text-align: center;
}
#intro {
  text-align: center;
}
hr {
  margin: 0;
   padding: 0;
}
#vl1 {
  float: left;
}
#vl2 {
  float: right;
}
.vl {
  border-left: 1px solid white;
  height: 100vh;
}
