* {
  text-align: center;
}
#intro {
  text-align: center;
}
hr {
  margin: 0;
   padding: 0;
}
#vl1 {
  float: left;
}
#vl2 {
  float: right;
}
.vl {
  border-left: 2px solid black;
  height: 100vh;
}
table, th, td {
  border: 1px solid black;
  width: 50%;
  margin-left: auto;
   margin-right: auto;
}
#goodRate {
  color: #29A829;
  font-size: x-large;
}
#badRate {
  color: red;
   text-decoration: line-through;
   font-size: small;
}
